/* Importation des fonts */

@font-face {
    font-family: "Montserrat-bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);
}


::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}


::-webkit-scrollbar-track {
    background: #242424;
}


::-webkit-scrollbar-thumb {
    background-color: #4e4e4e; 
    border-radius: 6px;      
    border: 3px solid #242424; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c9c9c9; 
}

body{
	display: flex;
	margin: 0px;
	flex-direction: column;
	font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
	color: white;
	background-color: #242424;
	margin-left: 5vw;
	margin-right: 5vw;
}


.nav-menu {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
	background-color: #1a1a1a;
	color: #242424;

	position: fixed;
	z-index: 1000;
}


a:hover{
	color: rgb(90, 92, 92);
}

#nav-menu-title{
	display: flex;
	color: #c9c9c9;
	padding-left: 3vw;
}

#nav-menu-sections{
	display: flex;
	justify-content: space-evenly;
	width: 25vw;
	color: #242424;
}

a{
	color: #c9c9c9;
	text-decoration: none;
}

ul {
	padding: 0;
}


section {
	display: flex;
}

.intro {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	justify-content: center;

	gap: 10vw;
}

.profile {
	display: flex;
	align-items:center;
	width: 20%;
	gap: 20%;
}

.profile-container {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}

.avatar-profile{
	border-radius: 50px;
	background-color: #4e4e4e;
	width: 100%;
}


.contact-intro {
	display: flex;
	flex-direction: row;
	gap: 5%;
}


.container-link-intro {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 45px !important;
	height: 45px !important;
	
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 2px solid rgb(59, 59, 59);
	box-sizing: border-box;
	object-fit: contain;
	padding: 8px;
}


.container-link-intro:hover{
	background-color:rgb(66, 66, 66);
	transform: scale(1.1);
}


#accroche{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align:start;
	flex-direction: column;
	width: auto;
}


#about-me {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
}


.container-link-CV{
	display: flex;
	width: 40%;
	height: 5vh;
	font-size: 1.25rem;
	background-color: #242424;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}

.container-link-CV:hover{
	background-color:rgb(66, 66, 66);
}

#about-me-title{
	display: flex;
	font-size: 2.625rem;
	justify-content: flex-start;
	color: #c9c9c9;
	width: auto;
}

#about-me-title h2 {
	margin: 0;
	padding: 0;
	align-items: flex-start;
}

#about-me-content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 1.3rem;
	text-align: flex-start;
	width: 30vw;
}


#project-page {
	background-color: #1a1a1a;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#projects{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/*
	border-style: solid;
	border-color: black;
	border-radius: 50px;

	background-color: #1a1a1a;
		padding-bottom: 5vw;
	*/
	padding-bottom: 2vw;
	margin-left: 12vw;
	margin-right: 12vw;
	margin-bottom: 5vw;
}

#projects-title{
	display: flex;
	font-size: 2.625rem;
	color: #c9c9c9;
	justify-content: center;
	text-align: center;
	width: 100%;
}

#footer-title{
	font-size:2.625rem;
	color: #c9c9c9;
	display: flex;
	justify-content: center;
}

#footer-title p {
	padding: 2vw;
	margin: 0;
}

.container-list-projects {
	display: flex;
	justify-content: flex-start;
	width: 70%;
	margin: 0;
	list-style: none;
	gap: 4vw;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	flex-wrap: nowrap;
	padding-top: 2vh; 
}




.container-link-projects{
	display: flex;
	height: auto;
	background-color: #4e4e4e;
	border-radius: 10px;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 15vw;
	transition: 0.3s;
	align-content: center;
}


.container-link-projects a {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 2vw;
	box-sizing: border-box;
}

.container-link-projects:hover {
	background-color: white ;
	color: #242424;
	transform: translateY(-5px);
	transition: 0.3s;
}


.text-project-card{
	text-align: center;
	width: 100%;
}

.project-object-title {

	font-size: 1.5rem;
	color: #c9c9c9;
}


.contaiter-img-projects{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 10vw;
}


.contact-bar {
	/*
	border-style: solid;
	border-color: black;
	border-radius: 50px;
	background-color: #1a1a1a;
	*/
	margin-left: 12vw;
	margin-right: 12vw;
	padding-bottom: 3vh;
	height: 30vw;
	display: flex;
	gap: 10%;
	flex-direction: column;
	justify-content: center;
}

.container-list-footer{
	display: flex;
	justify-content: space-between;
	width: auto;
	height: auto;
	padding-inline: 10vw;

}


.container-link-footer{
	display: flex;
	width: 20%;
	height: 5vh;
	background-color: #242424;
	margin-right:2%;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}


.container-link-footer:hover{
	background-color:rgb(66, 66, 66);
}




footer {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
	margin-top: 5vh;
    background-color: #1a1a1a;
	color: #c9c9c9;
	text-align: center;
	height: 6vh;
	justify-content: center;
	align-items: center;

}




.nav-menu, footer {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}