/* Importation des fonts */

@font-face {
    font-family: "Montserrat-bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);
}


::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}


::-webkit-scrollbar-track {
    background: #242424;
}


::-webkit-scrollbar-thumb {
    background-color: #4e4e4e; 
    border-radius: 6px;      
    border: 3px solid #242424; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c9c9c9; 
}


html {
	scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
	color: white;
	background-color: #242424;
	margin: 0px;
	padding-top: 15vh;
}


body > :not(.nav-menu):not(footer):not(.main-container){
	margin-left: 10vw;
	margin-right: 10vw;
}




.nav-menu {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
	background-color: #1a1a1a;
	color: #242424;
	position: fixed;
	z-index: 10;
	top:0;
}


a:hover{
	color: rgb(90, 92, 92);
}

#nav-menu-title{
	display: flex;
	color: #c9c9c9;
	padding-left: 3vw;
	
}

#nav-menu-sections{
	display: flex;
	justify-content: space-evenly;
	width: 25vw;
	color: #242424;
}

a{
	color: #c9c9c9;
	text-decoration: none;
}

ul {
	padding: 0;
}


section {
	display: flex;
}

.intro {
	display: flex;
	flex-direction: row;
	height: 95vh;
	width: auto;
	justify-content: center;

	gap: 10vw;
}

.profile {
	display: flex;
	align-items:center;
	width: 20%;
	gap: 20%;
}

.profile-container {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}

.avatar-profile{
	border-radius: 50px;
	background-color: #4e4e4e;
	width: 100%;
}


.contact-intro {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5%;
}


.container-link-intro {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 45px !important;
	height: 45px !important;
	
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 2px solid rgb(59, 59, 59);
	box-sizing: border-box;
	object-fit: contain;
	padding: 8px;
}


.container-link-intro:hover{
	background-color:rgb(66, 66, 66);
}


#accroche{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align:start;
	flex-direction: column;
	width: auto;
}


#about-me {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
}


.container-link-CV{
	display: flex;
	width: 40%;
	height: 5vh;
	font-size: 1.25rem;
	background-color: #242424;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}

.container-link-CV:hover{
	background-color:rgb(66, 66, 66);
}

#about-me-title{
	display: flex;
	font-size: 2.625rem;
	justify-content: flex-start;
	color: #c9c9c9;
	width: auto;
}

#about-me-title h2 {
	margin: 0;
	padding: 0;
	align-items: flex-start;
}

#about-me-content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 1.3rem;
	text-align: flex-start;
	width: 30vw;
}


.main-container {
	display: grid
}

.background-block {
	width: auto;
	height: 100vh;
	background-color: #1a1a1a;
	grid-area: 1/1;
}

.domain-section {
	display: flex;
	flex-direction: column;
	grid-area: 1/1;
	height: 95vh;
	width: auto;
	margin-left: 10vw;
	margin-right: 10vw;
	justify-content: center;
	gap: 5%;
	align-items: center;

}

.domain-main-title {
	display: flex;
	font-size: 2.625rem;
	color: #e3e2e2;
	font-weight: 700;
}


.all-domains {
	display: flex;
	justify-content: center;
	gap: 3vw;
	flex-wrap: wrap;
	margin-bottom: 5vh;
}

.domain-title-and-list {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	border: 2px solid rgb(59, 59, 59);
	border-radius: 10px;
	width: 30%;
	padding: 3vh;
}

.domain-title-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2vh;
	margin-bottom: 2vh;
}

.domain-logo {
	display: flex;
	background-color: #1a1a1a;
	border-radius: 10px;
	padding: 1vh;
}


.domain-title {
	display: flex;
	font-size: 1.5rem;
	color: #e3e2e2;
	font-weight: 700;
}

.domain-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.domain-card {
	display: flex;
	border: 2px solid rgb(59, 59, 59);
	border-radius: 15px;
	width: 20%;
	height: 4vh;
	align-items: center;
	justify-content: center;
}


.domain-card p {
	display: flex;
	font-size: 0.9rem;
	color: #c9c9c9;
}




#projects{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-area: 1/1;
}

#projects-title{
	display: flex;
	font-size: 2.625rem;
	color: #c9c9c9;
	justify-content: center;
	text-align: center;
	width: 100%;
}


.education-section {
	display: flex;

	flex-direction: column;
	margin-top: 5vh;
	height: 95vh;
	justify-content: center;
}

.education-list {
	display: flex;
	margin-top: 3vw;
	gap: 5vw;
	margin-bottom: 3vw;
	justify-content: center;
}


.section-title {
	display: flex;
	font-size: 2.625rem;
	color: #e3e2e2;
	font-weight: 700;
	align-items: center;
	justify-content: center;
}

.education-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
	height: 30vh;

	border: 2px solid rgb(59, 59, 59);
	border-radius: 10px;
}


.education-card p {
	text-align: center;
	margin: 2vh;
}

.education-card-title {
	font-weight: 700;
	font-size: 1.4rem;

}


.education-card-year {
	font-size: 1.4rem;
}


.education-card-place {
	font-size: 1.2rem;
	color: #c9c9c9;
}



.experience-section {
	display: flex;
	grid-area: 1/1;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.experience-title {
	display: flex;
	font-size: 2.625rem;
	color: #e3e2e2;
	font-weight: 700;
	margin: 4vw 0 1vw 0
}

.experience-list {
	display: flex;
	flex-direction: column;
	gap:2vw;
}

.experience-card {
	display: flex;
	border: 2px solid rgb(59, 59, 59);
	border-radius: 10px;
	padding: 4vh;
	flex-direction: column;
	width: 50vw;

}

.experience-header-card {
	display: flex;
	justify-content: space-between;
}

.experience-title-card {
	display: flex;
	flex-direction: column;
}

.experience-job-card {
	font-weight: 700;
	font-size: 1.0625rem;
}

.experience-company-card {
	color: #c9c9c9;
}

.experience-list-infos-card {
	display: flex;
	gap: 2vw;
	justify-content: flex-end;
}

.experience-duration-card {
	border: 2px solid rgb(59, 59, 59);
	display: flex;
	color: #c9c9c9;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	padding: 0vh 1vw 0vh 1vw; 
}

.experience-localisation-card {
	border: 2px solid rgb(59, 59, 59);
	display: flex;
	color: #c9c9c9;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 0vh 1vw 0vh 1vw; 
}

.experience-content-card {
	display: flex;
	flex-direction: column;
		margin-bottom: 1vw;

}

.experience-content-card p {
	margin: 1.5vh;

}

.experience-list-tech-card {
	display: flex;
	gap: 10px;

}


.experience-element-tech-card {
	border: 2px solid rgb(75 85 99);
	background-color: #37415180;
	border-radius: 4px;
	padding: 5px;
}



.container-list-projects {
	display: flex;
	justify-content: flex-start;
	width: 70%;
	margin: 0;
	list-style: none;
	gap: 4vw;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	flex-wrap: nowrap;
	padding-top: 2vh; 
}




.container-link-projects{
	display: flex;
	background-color: #4e4e4e;
	border-radius: 10px;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 15vw;
	transition: 0.3s;
	margin-bottom: 2vh;
	align-content: center;
}


.container-link-projects a {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 2vw;
	box-sizing: border-box;
}

.container-link-projects:hover {
	background-color: white ;
	color: #242424;
	transform: translateY(-5px);
	transition: 0.3s;
}


.text-project-card{
	text-align: center;
	width: 100%;
}

.project-object-title {

	font-size: 1.5rem;
	color: #c9c9c9;
}



.contact-section {
	display: flex;
	grid-area: 1/1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
}


#contact-title {
	display: flex;
	font-size: 2.625rem;
	color: #e3e2e2;
	font-weight: 700;
}

.contact-form {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 60%;
	gap: 20px;
	border: 2px solid rgb(59, 59, 59);
	border-radius: 10px;
	padding: 2vw;
}


.contact-form-text {
	display: flex;
	flex-direction: column;
	
}


.form-text {
	opacity: 0.9;
	border-radius: 7px;
	color: white;
	font-size: 1.04rem;
	background-color: rgb(59, 59, 59);
	border: 2px solid rgb(59, 59, 59);
}



#form-message {
	height: 15vh;
}

#submit-form-input {
	background-color: #242424;
	color: #c9c9c9;
	border-radius: 10px;
	border: 2px solid rgb(59, 59, 59);
	height: 5vh;
	font-size: 1.1rem;
}


#submit-form-input:hover {
  color: rgb(90, 92, 92);
  background-color: rgb(66, 66, 66);
}



.contact-form-infos {
	display: flex;
	flex-direction: row;
	width: 50%;
	gap: 5%;
}

.contact-infos-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contact-infos-card {
	background-color: #242424;
	border-radius: 10px;
	padding: 1vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.contact-infos-card-context {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contact-infos-card-title {
	opacity: 0.8;
}


.contact-infos-socials {
	display: flex;
	flex-direction: column;
	gap: 10%
}

.contact-socials {
	display: flex;
	flex-direction: column;
	width: 18vw;
	gap: 10px;
}

.contact-socials-title {
	font-weight: 800;
	opacity: 0.8;
}

.contact-socials-list {
	display: flex;
	flex-wrap: wrap;

}

.contact-socials-card {
	background-color: #242424;
	margin: 5px;
	border-radius: 10px;
	height: 4vh;
	width: 6vw;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border: 2px solid rgb(59, 59, 59);
}

.contact-socials-card:hover {	
	background-color:rgb(66, 66, 66);

}


.contact-socials-card-logo {
	display: flex;
	align-items: center;
}



footer {
    position: relative;
    width: 100vw;
    background-color: #1a1a1a;
	color: #c9c9c9;
	text-align: center;
	height: 6vh;
	justify-content: center;
	align-items: center;

}

footer p {
	text-align: center;
}



.nav-menu, footer {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}

@media screen and (max-width: 600px){
	body {
		padding-top: 10vh;
	}

	.nav-menu {
		display: flex;
		justify-content: space-around;
		height: 10vh;

	}
	

	#about-me-title {
		font-size: 1.5rem;
	}

	#about-me-content {
		width: 100%;
		font-size: 1rem;
	}

	.container-link-CV {
		padding: 2vw;
	}
	
	#nav-menu-sections {
		justify-content: space-between;
		gap: 20px;
		font-size: 1rem;
		width: 30vw;
	}

	#nav-menu-title {
		font-size: 1.5rem;
	}

	
	.intro {
		margin-top: 7vw;
		margin-bottom: 7vw;
		display: flex;
		flex-wrap:wrap;
		align-items: center;
		height: 90vh;
		flex-direction: column;
	}

	#accroche {
		display: flex;
		align-items: center;	
	}

	.profile {
		width: 50vw;
	}


	#projects {
		width: 100vw;
		height: 80vh;
	}

	.container-list-projects  {
		width: 100vw;
	}

	.container-link-projects {
		flex: 0 0 90vw;
		height: 40vh;
		margin: 5vw;
	}

	.domain-section {
		height: 120vh;
	}

	.all-domains {
		width: 90vw;
		flex-wrap: wrap;

	}

	.domain-title-and-list {
		width: 100%;
	}

	.domain-card {
		width: 20vw;
	}

	.experience-section {
		background-color: #1a1a1a;
		height: 140vh;
	}

	.section-title {
		font-size: 2.0rem;
		display: flex;
	}
	.experience-card {
		width: 80vw;
		height: 40vh;
		font-size: 0.9rem;
	}

	.experience-list-infos-card {
		flex-direction: column;
	}


	.education-list {
		flex-direction: column;
	}

	.education-card {
		width: 80vw;
		height: 40vh;
	}

	.education-card-title {
		font-size: 1.3rem;
	}

	.education-card-year {
		font-size: 1.2rem;
	}
	
	.education-card-place {
		font-size: 1.1rem;
	}



	.contact-form-infos {
		flex-direction: column;
		width: 70vw;
		gap: 5vw;
	}

	.contact-section {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-form {
		width: 70vw;
	}

	.contact-socials {
		flex-direction: column;
		width: 50vw;
		margin-top: 8vw;
	}

	.contact-socials-list {
		flex-direction: column;
		width: 50vw;
	}

	.contact-socials-card {
		width: 100%;
	}

	footer p{
		text-align: center;
	}
}