/* Importation des fonts */

@font-face {
    font-family: "Montserrat-bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);
}


body{
	display: flex;
	margin: 0px;
	flex-direction: column;
	font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
	color: white;
	background: #242424;
	margin-left: 14vw;
	margin-right: 14vw;
}


.nav-menu {
	width: 70vw;
	display: flex;
	padding: 0px;
	margin: 0px;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
}


a:hover{
	color: rgb(90, 92, 92);
}

#nav-menu-title{
	display: flex;
	color: #c9c9c9;
}

#nav-menu-sections{
	display: flex;
	justify-content: space-evenly;
	width: 25vw;
}

a{
	color: white;
	text-decoration: none;
}


section {
	display: flex;
}

#accroche{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.3125rem;
	text-align: center;
}


#about-me {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#about-me p {
	text-align: center;
}

#about-me img{
	border-radius: 10%;
}

#about-me-title{
	display: flex;
	align-self: center;
	font-size: 2.625rem;
	justify-content: flex-start;
	color: #c9c9c9;

}

#about-me-content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 8vw 0 8vw;
	font-size: 1.8rem;
	text-align: flex-start;
}


#projects{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

#projects-title{
	display: flex;
	font-size: 2.625rem;
	color: #c9c9c9;
	justify-content: center;
	text-align: center;
	width: 100%;
}

#footer-title{
	font-size:2.625rem;
	color: #c9c9c9;
	display: flex;
	justify-content: center;

}

.container-list-projects {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	row-gap: 5vh;
}



.container-link-projects{
	display: flex;
	width: 20vw;
	height: auto;
	background-color: #4e4e4e;
	border-radius: 10px;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 2vw;
}


.container-link-projects:hover {
	background-color: white ;
	color: #242424;
	transform: translateY(-5px);
	transition: 0.3s;
}


.container-link-projects p {
	text-align: center;
	width: 100%;
	margin: 2vw 2vw 0 2vw;
}

.project-object-title {
	display: flex;
	align-self: center;
	text-align: center;
	width: 100%;
	font-size: 1.325rem;
	justify-content: center;
	color: #c9c9c9;
}



.contaiter-img-projects{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 10vw;
}


.container-list-footer{
	display: flex;
	justify-content: space-between;
	width: auto;
	height: 3vh;
	margin: 0 3vw 0 3vw;

}


.container-link-footer{
	display: flex;
	width: 20%;
	height: 100%;
	background-color: #242424;
	margin-right:2%;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}


.container-link-footer:hover{
	background-color:rgb(66, 66, 66);
}




